@model IEnumerable<mynewsreally.Models.UserRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="list-group">
    @foreach (var item in Model)
    {        
    <div class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Nombre de usuario: <strong>@Html.DisplayFor(modelItem => item.UserName)</strong></h5>
        </div>
        <p class="mb-1">Rol: <strong>@item.RolName</strong></p>
        <div class="text-right">
            @Html.ActionLink("Borrar", "Borrar", "User", new { id = item.UserId }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Editar", "Usuario", "User", new { idUser = item.UserId, idRole = item.RoleId }, new { @class = "btn btn-success" })
        </div>
    </div>
        <hr />
    }
</div>